<div>
  <header>
<mat-toolbar color="primary" class="app-header">
  <div>
    <a routerLink="products">Products</a>
  </div>
  <div>
    
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
  <div><a class="button fancy-button" routerLink="/cart">
    <i class="material-icons">shopping_cart</i><span class="cart"><i>{{itemInCart}}</i></span></a></div>
  <span class="nav-tool-items">
    <a mat-button routerLink="login" routerLinkActive="active" style="color: white;">Signin</a>
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Signup</a>
    
  </span>
</mat-toolbar>
</header>
<mid-content>
  <router-outlet></router-outlet>
</mid-content>
<!-- <footer layout="row" class="md-padding">
  <div>
    <p>...</p>
  </div>
</footer> -->
</div>

<!-- 

<router-outlet></router-outlet>  -->