<!-- <div style="text-align:center">
  <h1 class="mb-3 h2"><strong>The-Wizzard-BookShop</strong></h1>
  <h2><p>
    We are really pleased that you have chosen to visit our book shop.
</p>
</h2>
</div> -->
<div class="col">
<div class="container d-flex justify-content-center mt-50 mb-50">
  <div class="row"  >
      <div class="col-md-4 mt-2" *ngFor="let product of products, let i = index">
        <div class='container-fluid'>
          <div class="card mx-auto col-md-3 col-10 mt-5">
              <img class='mx-auto img-thumbnail'
                  [src]="product.image"
                  width="auto" height="auto"/>
              <div class="card-body text-center mx-auto">
                  <div class='cvp'>
                      <h3 class="card-title font-weight-bold">{{product.name}}</h3>
                      <h2 class="card-text"><b>{{product.price | currency: 'R ' }}</b></h2>
                      <a [routerLink]="['product-details', product.id]" class="btn details px-auto">View Details</a><br />
                      <a (click)="addToCart(product)" class="btn cart px-auto">ADD TO CART</a>
                  </div>
              </div>
          </div>
      </div>
        <!-- <a class="images" [routerLink]="[ 'product-details', product.id ]" style="text-decoration: none; color: black;">
        <div class="card" >
          <div class="card-body">
            <div class="card-img-actions">
            <img [src]="product.image" class="card-img img-fluid" alt="">
              </div>
            </div>
            <div class="card-body bg-light text-center">
          <div class="mb-2">
            <h3 class="font-weight-semibold mb-2" class="text-default mb-2" data-abc="true">{{product.name}}
            </h3>
          </div>
          <h2 class="mb-0 font-weight-semibold"><b>{{product.price | currency: 'R '}}</b></h2>
        </div>
      </div>
    </a> -->
    <br>
    </div>
  </div>
</div>
