<div class="container d-flex justify-content-center mt-50 mb-50">
  <div class="row"  >
      <div class="col-md-4 mt-2" *ngFor="let product of products, let i = index">
        <a [routerLink]="[ 'product-details', product.id ]">
        <div class="card" >
          <div class="card-body">
            <div class="card-img-actions">
            <img [src]="product.image" class="card-img img-fluid" alt="">
              </div>
            </div>
            <div class="card-body bg-light text-center">
          <div class="mb-2">
            <h3 class="font-weight-semibold mb-2" class="text-default mb-2" data-abc="true">{{product.name}}
            </h3>
          </div>
          <h3 class="mb-0 font-weight-semibold"><b>{{product.price | currency: 'R '}}</b></h3>
        </div>
      </div>
    </a>
    </div>
  </div>
</div>
