<br/>
<div class="empty" *ngIf="items.length < 1">
  <div class="container-fluid  mt-100">
    <div class="row">

     <div class="col-md-12">

         <div class="card">
       <div class="card-header">
       </div>
       <div class="card-body cart">
           <div class="col-sm-12 empty-cart-cls text-center">
             <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
             <h3><strong>Your Cart is Empty</strong></h3>
             <h4>Add something to make me happy :)</h4>
             <a href="" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue shopping</a>
           </div>
       </div>
   </div>
     </div>
    </div>
   </div>
</div>
<div class="container" *ngIf="items.length > 0" >
  <br>
  <h5 class="mb-3" >
    <a routerLink="" style="text-decoration: none; font-size: medium; color: black;">
    <i class="fas fa-long-arrow-alt-left me-2" >
    </i>Continue shopping</a>
  </h5>
    <div class="row d-flex justify-content-center align-items-center h-100 b-bottom b-top"  *ngFor="let item of items, let i = index " >
              <div class="col-1  d-flex justify-content-between align-items-center">
                <a  class="text-danger"><i class="fas fa-trash fa-lg" (click)="onDelete(i)"></i></a>
              </div>
              <div class="col-2">
                <img
                  [src]="item.image"
                  class="img-fluid rounded-3" alt="" style="width: -webkit-fill-available;">
              </div>
              <div class="col">
                <h3>{{item.name}}</h3>
                <h4><strong>{{item.price | currency: 'R '}}</strong></h4>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <input class="quantity" min="0" name="quantity" type="number"  (blur)="validateInput($event, i)" [value]="item?.quantity"
                  class="form-control form-control-sm" style="border-radius: 2rem;" >qty
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h4 class="mb-0"><strong>{{item?.price * item?.quantity | currency:'R '}}</strong></h4>
              </div>
          </div>
          <div class="row">
            <div class="col"></div>

        <div class="col-5">
          <h4 >SubTotal: <span><strong>{{total | currency: 'R '}}</strong></span></h4>
          <h4 >Shipping: <span style="color: red;"><b>FREE</b></span></h4>
          <hr/>
          <h3>Total Price: <span  ><strong>{{total | currency: 'R '}}</strong></span></h3>
          <div class="col">
            <button (click)="checkout()" type="button" class="btn btn-lg btn-success  mt-2" >Checkout</button>
          </div>
          <!-- <div class="col">
            <button routerLink="" type="button" class="btn btn-lg btn-primary d-btn-flat mt-2 mr-3">Back to shopping</button>

          </div> -->
          <hr/>
          </div>
        </div>
  </div>


<!-- <h3>Cart</h3>

<p>
  <a routerLink="/shipping">Shipping Prices</a>
</p> -->

