
<h1>Cart Details</h1>
<div class="empty" *ngIf="items.length < 1">
  <div class="info">
    <h4>Nothing on the cart yet.</h4>
    <a routerLink="" class="btn btn-success">Start Shopping</a>
  </div>
</div>

<ng-container *ngIf="items.length > 0">
  <div class="cart" *ngFor="let item of items; let i = index">
    <i class="fa fa-trash-alt text-danger" aria-hidden="true" (click)="onDelete(i)"></i>
    <div class="imgBox">
      <img [src]="item?.image" alt="" class="img">
    </div>
    <div class="desc">
      {{item?.description}}
    </div>
    <div class="Price">
      {{item?.price | currency:'R '}}
    </div>
    <input type="number" class="quantity" [value]="item?.quantity"
    (blur)="validateInput($event, i)">
    <div class="subtotal">
      {{item?.price * item?.quantity | currency:'R '}}
    </div>
  </div>
  <div class="checkout">
    <!-- <div>SubTotal</div> -->
    <!-- <b>$0</b>
    <div>Shipping</div>
    <b>$0</b> -->
    <div>Total</div>
    <br>
    <b>{{total | currency: 'R '}}</b>
    <a routerLink="/login" class="btn btn-success" (click)="onCheckOut">Check Out</a>
  </div>
</ng-container>

<!-- <h3>Cart</h3>

<p>
  <a routerLink="/shipping">Shipping Prices</a>
</p>

<div class="cart-item" *ngFor="">
  <span>{{ item.name }} </span>
  <span>{{ item.Price | currency: 'ZAR ' }}</span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

  <div>
    <label for="name" required="required">
      Name
    </label>
    <input id="name" type="text" required="required" placeholder="Name" formControlName="name">
  </div>
  <div>
    <label for="surname" required="required">
      Surname
    </label>
    <input id="surname" placeholder="Surname" type="text" formControlName="surname">
  </div>
  <div>
    <label for="name" required="required">
      Number
    </label>
    <input id="number" type="text" required="required" placeholder="Number" formControlName="number">
  </div>

  <div>
    <label for="address" required="required">
      Address
    </label>
    <input id="address" required="required" placeholder="Address" type="text" formControlName="address">
  </div>

  <button class="button" type="submit">Purchase</button>

</form> -->
