<section class="h-100 h-custom" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card border-top border-bottom border-3" style="border-color: #0a4275 !important;">
          <div class="card-body p-5">

            <p class="lead fw-bold mb-5" style="color: #0a4275;">Purchase Reciept</p>
            <div class="jumbotron text-center">
              <h1 class="display-3">Thank You!</h1>
              <p class="lead">For your Order for further instructions please contact us on</p>
              <p class="lead"><strong>dummyemail@gmail.com</strong>
              </p>
              <hr>
              <br/>
              <p class="lead">
                <a class="btn btn-primary btn-sm" routerLink="" role="button">Continue to homepage</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
